.barcode {
  color: #000;
<<<<<<< HEAD
  width: calc(100% + 10px) !important;
  height: auto !important;
  position: relative;
  left: -5px;
=======
  width: calc(100% + 18px) !important;
  height: auto !important;
  position: relative;
  left: -10px;
>>>>>>> d8142e12e16b5e9d35220be00530d3ab18ba4a12
}

.barcode_swipe {
  color: #000;
  width: 100% !important;
  height: auto !important;
  max-height: 96px;
  position: relative;
}
