@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-color: white;
}

.mainBannerSwiper .swiper-scrollbar {
  position: absolute !important;
  left: 30px !important;
  bottom: 46px !important;
  width: 73% !important;
  height: 2px !important;
  z-index: 1 !important;
}
.mainBannerSwiper .swiper-pagination {
  position: absolute !important;
  right: 30px !important;
  bottom: 38px !important;
  z-index: 2 !important;
  height: 18px !important;
  font-size: 12px !important;
  letter-spacing: -1.5px !important;
  font-family: "Noto Sans KR", "sans-serif" !important;
}
.mainBannerSwiper .swiper-pagination .swiper-pagination-current {
  font-weight: 700 !important;
}
